<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Puppy</title>
  </head>
  <body>
    <h1>Create a New Puppy</h1>  
    <form method = "POST" action = "/puppy">
      <p>Name: <input type = "text" name = "name"></p>
      <p>Breed: <input type = "text" name = "breed"</p>
      <p>Age(months): <input type = "text" name = "age"></p>
      <p><input type = "submit"></p>
    </form>
  </body>
</html>

