<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Puppy Adoptions!</title>
    </head>
    <body>
        <h1> Welcome to the puppy adoption site!</h1>

        <a href="/new">List A Puppy</a>
    </body>
</html>